<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="481082f8-25d2-43ba-8309-cb06a3d95cd4" Publisher="CN=Nikki Punjabi" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Sitecore App Universal.Windows</DisplayName>
    <PublisherDisplayName>npunjabi</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Sitecore_App_Universal.Windows.App">
      <m2:VisualElements DisplayName="Sitecore App Universal.Windows" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="Sitecore App Universal.Windows" ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>